@import 'colors';
@import 'sizes';

/*---------------------------------------------------------------------------*/
/* Basic */
/*---------------------------------------------------------------------------*/

.ib-no-margin {
  margin: 0px;
}

.ib-horizontal-center {
  text-align: center;;
}

.ib-no-wrap {
  white-space: nowrap;
  overflow-x: scroll;
}

.ib-no-scroll-y {
  overflow-y: hidden;
}

.ib-padding-sm {
  padding: 5px;
}

.ib-scroll-y-rtl {
  direction: rtl;
}

.ib-hidden {
  display: none;
}

.ib-width-100 {
  width: 100%;
}
/*---------------------------------------------------------------------------*/
/* Layout */
/*---------------------------------------------------------------------------*/


.container-fluid {
  max-width: 400px;
}

@mixin ibmx-container-fluid($screen-size) {
  @media (min-width: $screen-size) {
    .container-fluid {
      max-width: ibfn-size-given-screen($screen-size);
    }
  }
}

@include ibmx-container-fluid($ib_sm);
@include ibmx-container-fluid($ib_md);
@include ibmx-container-fluid($ib_lg);
@include ibmx-container-fluid($ib_xl);
@include ibmx-container-fluid($ib_xl2);


.logo {
  width: 100%;
  height: 100px;
  display: inline-block;
  margin-bottom: 1em;
  background-image: url("/images/ibgib_100x200.png");
  background-size: 200px 100px;
  background-repeat: no-repeat;
  background-position: center;
  border-width: 1px;
  border-color: $ibgib_green;
  border-radius: 5px;
  border-style: solid;
  padding: 5px;
}

/* Remove the bottom border on the jumbotron for visual effect */
.jumbotron {
  border-bottom: 0;
  background-color: $ibgib_green !important;
}



/*---------------------------------------------------------------------------*/
/* Settings Button */
/* Thanks SO and members! http://stackoverflow.com/questions/26632713/show-delete-button-on-right-side-of-bootstrap-row-on-hover */
/*---------------------------------------------------------------------------*/
.ib-hoverable {
  position: relative;
}
.ib-hover-btn {
  position: absolute;
  right: 15px;
  display: none;
  z-index: 10;
}
.ib-hoverable:hover .ib-hover-btn {
  display: block;
}

.ib-mut8-data-btn {
  color: $ibgib_green;
}

.ib-rename-data-btn {
  color: $ibgib_green;
}

.ib-remove-data-btn {
  color: $ibgib_red;
}

.ib-center-glyph {
  vertical-align: middle;
}

/*---------------------------------------------------------------------------*/
/* Tag overrides */
/*---------------------------------------------------------------------------*/

body > .container-fluid {
  padding: 10px 15px 0;
  min-width: 300px;
}

form {
  margin: 5px !important;
}

input {
  padding-left: 5px;
}


code {
  font-size: 80%;
}

/*---------------------------------------------------------------------------*/
/* Other */
/*---------------------------------------------------------------------------*/

.container .text-muted {
  margin: 20px 0;
}
#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}


/*---------------------------------------------------------------------------*/
/* Ancestor */
/*---------------------------------------------------------------------------*/
.ib-ancestor-breadcrumb {
  margin: 2px !important;
  overflow-x: auto;
}

/*---------------------------------------------------------------------------*/
/* Past */
/*---------------------------------------------------------------------------*/
.ib-past-breadcrumb {
  margin: 2px !important;
  overflow-x: auto;
}
/*---------------------------------------------------------------------------*/
/* Borders */
/*---------------------------------------------------------------------------*/

// .ib-debug-border {
//   margin: 1px;
//   border-width: 1px;
//   border-style: solid;
//   border-color: black;
// }
//
.ib-info-border {
  margin: 8px;
  border-width: 1px;
  border-color: $ibgib_green;
  border-radius: 10px;
  border-style: solid;
  padding: 5px;
}







/*---------------------------------------------------------------------------*/
/* Radial Menu */
/* Thanks!  http://creative-punch.net/2014/02/making-animated-radial-menu-css3-javascript/ */
/*---------------------------------------------------------------------------*/

// These are duplicated in CircleMenu.initMenuLinks
$menu_radius: 25px;
$menu_diam: 2 * $menu_radius;
$circle_radius: 50px;
$circle_diam: 2 * $circle_radius;
$circle_menu_link_radius: 10px;
$circle_menu_link_diam: 2 * $circle_menu_link_radius;
$circle_menu_button_radius: 20px;
$circle_menu_button_diam: 2 * $circle_menu_button_radius;
$circle_menu_button_opacity: 0.6;
$circle_transition_ease: all 0.5s ease-out;
$menu_z_index: 20;

.ib-circular-menuable {
  // marker interface
}

.ib-circular-menu {
  width: $menu_diam;
  height: $menu_diam;
  margin: 0 auto;
  position: absolute;
  z-index: $menu_z_index;
}

.ib-circular-menu-links {
  width: $circle_radius;
  height: $circle_radius;
  opacity: 0;

  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);

  -webkit-transition: $circle_transition_ease;
  -moz-transition: $circle_transition_ease;
  transition: $circle_transition_ease;
  z-index: $menu_z_index;
}

.open.ib-circular-menu-links {
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.ib-circular-menu-link {
// .circle a {
  text-decoration: none;
  color: $ibgib_pink;
  display: block;
  height: $circle_menu_link_diam;
  width: $circle_menu_link_diam;
  line-height: $circle_menu_link_diam;
  margin-left: -$circle_menu_link_radius;
  margin-top: -$circle_menu_link_radius;
  position: absolute;
  text-align: center;
  z-index: $menu_z_index;
}

.ib-circular-menu-link a:hover {
  color: $ibgib_blue;
}

.ib-circular-menu-toggle-button {
  position: absolute;
  top: calc(50% - #{$circle_menu_button_radius});
  left: calc(50% - #{$circle_menu_button_radius});
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  color: $ibgib_blue;
  border-radius: 50%;
  display: block;
  height: $circle_menu_button_diam;
  width: $circle_menu_button_diam;
  line-height: $circle_menu_button_diam;
  // padding: 10px;
  background: $ibgib_green;
  opacity: $circle_menu_button_opacity;
  z-index: $menu_z_index;
}

.ib-circular-menu-toggle-button:hover {
  background-color: $ibgib_orange;
}









/*---------------------------------------------------------------------------*/
/* Horizontal Scrolling List */
/*---------------------------------------------------------------------------*/
.ib-horizontal-scroll-list
{
    overflow-x:auto;
    overflow-y:hidden;
    height:auto;
    width:100%;
    padding: 0 15px;
}

.ib-horizontal-scroll-list-item
{
    // border:1px solid black;
    padding:0;
    height:auto;
}

.list-inline {
  white-space:nowrap;
}


// Marker interface?
.ib-gib-element {

}

.ib-gib-element-active {
  border-color: $ibgib_green;
  // border-color: $ibgib_orange;
  border-width: medium;
}
