@import 'node_modules/font-awesome/scss/font-awesome';
@import 'colors';
@import 'sizes';

/*---------------------------------------------------------------------------*/
/* Basic */
/*---------------------------------------------------------------------------*/

.ib-no-margin {
  margin: 0px;
}

.ib-horizontal-center {
  text-align: center;;
}

.ib-no-wrap {
  white-space: nowrap;
  overflow-x: scroll;
}

.ib-no-scroll-y {
  overflow-y: hidden;
}

.ib-padding-sm {
  padding: 5px;
}

.ib-scroll-y-rtl {
  direction: rtl;
}

.ib-hidden {
  display: none;
}

.ib-width-100 {
  width: 100%;
}

.ib-height-100 {
  height: 100%;
}

.ib-bold {
  font-weight: bold;
}

.ib-pos-abs {
  position: absolute;
}

/* Thanks SO! http://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting-using-css */
.ib-noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

/*---------------------------------------------------------------------------*/
/* Layout */
/*---------------------------------------------------------------------------*/


.container-fluid {
  max-width: 400px;
}

@mixin ibmx-container-fluid($screen-size) {
  @media (min-width: $screen-size) {
    .container-fluid {
      max-width: ibfn-size-given-screen($screen-size);
    }
  }
}

@include ibmx-container-fluid($ib_sm);
@include ibmx-container-fluid($ib_md);
@include ibmx-container-fluid($ib_lg);
@include ibmx-container-fluid($ib_xl);
@include ibmx-container-fluid($ib_xl2);


.logo {
  width: 100%;
  height: 100px;
  display: inline-block;
  margin-bottom: 1em;
  background-image: url("/images/ibgib_100x200.png");
  background-size: 200px 100px;
  background-repeat: no-repeat;
  background-position: center;
  border-width: 1px;
  border-color: $ibgib_green;
  border-radius: 5px;
  border-style: solid;
  padding: 5px;
}

/* Remove the bottom border on the jumbotron for visual effect */
.jumbotron {
  border-bottom: 0;
  background-color: $ibgib_green !important;
}

/*---------------------------------------------------------------------------*/
/* Textish */
/*---------------------------------------------------------------------------*/
.ib-passage {
  // font-size: 18px;
  font-style: italic;
}
.ib-litl-data-notice {
  font-size: 12px;
  font-style: italic;
}
/*---------------------------------------------------------------------------*/
/* Settings Button */
/* Thanks SO and members! http://stackoverflow.com/questions/26632713/show-delete-button-on-right-side-of-bootstrap-row-on-hover */
/*---------------------------------------------------------------------------*/
.ib-hoverable {
  position: relative;
}
.ib-hover-btn {
  position: absolute;
  right: 15px;
  display: none;
  z-index: 10;
}
.ib-hoverable:hover .ib-hover-btn {
  display: block;
}

.ib-mut8-data-btn {
  color: $ibgib_green;
}

.ib-rename-data-btn {
  color: $ibgib_green;
}

.ib-remove-data-btn {
  color: $ibgib_red;
}

.ib-center-glyph {
  vertical-align: middle;
}

/*---------------------------------------------------------------------------*/
/* Tag overrides */
/*---------------------------------------------------------------------------*/

html {
  height: 98% !important;
}

main {
  height: 80%;
}

body {
  margin-top: 5px !important;
}

body > .container-fluid {
  padding: 0px 0px 0;
  min-width: 300px;
  height: 100%;
}

form {
  margin: 5px !important;
}

input {
  padding-left: 5px;
}


code {
  font-size: 80%;
}

/*---------------------------------------------------------------------------*/
/* Other */
/*---------------------------------------------------------------------------*/

.container .text-muted {
  margin: 20px 0;
}
#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}


/*---------------------------------------------------------------------------*/
/* Ancestor */
/*---------------------------------------------------------------------------*/
.ib-ancestor-breadcrumb {
  margin: 2px !important;
  overflow-x: auto;
}

/*---------------------------------------------------------------------------*/
/* Past */
/*---------------------------------------------------------------------------*/
.ib-past-breadcrumb {
  margin: 2px !important;
  overflow-x: auto;
}
/*---------------------------------------------------------------------------*/
/* Borders */
/*---------------------------------------------------------------------------*/

// .ib-debug-border {
//   margin: 1px;
//   border-width: 1px;
//   border-style: solid;
//   border-color: black;
// }
//
.ib-info-border {
  margin: 8px;
  border-width: 1px;
  border-color: $ibgib_green;
  border-radius: 10px;
  border-style: solid;
  padding: 5px;
}

/*---------------------------------------------------------------------------*/
/* Horizontal Scrolling List */
/*---------------------------------------------------------------------------*/
.ib-horizontal-scroll-list
{
    overflow-x:auto;
    overflow-y:hidden;
    height:auto;
    width:100%;
    padding: 0 15px;
}

.ib-horizontal-scroll-list-item
{
    // border:1px solid black;
    padding:0;
    height:auto;
}

.list-inline {
  white-space:nowrap;
}


// Marker interface?
.ib-gib-element {

}

.ib-gib-element-active {
  border-color: $ibgib_green;
  // border-color: $ibgib_orange;
  border-width: medium;
}
