@import 'node_modules/font-awesome/scss/font-awesome';
@import 'colors';
@import 'sizes';
@import 'slideshow';

/*---------------------------------------------------------------------------*/
/* Basic */
/*---------------------------------------------------------------------------*/

.ib-no-margin {
  margin: 0px;
}

.ib-horizontal-center {
  text-align: center;;
}

.ib-no-wrap {
  white-space: nowrap;
  overflow-x: scroll;
}

.ib-no-scroll-x {
  overflow-x: hidden;
}

.ib-no-scroll-y {
  overflow-y: hidden;
}

.ib-overflow-y-scroll {
  overflow-y: scroll;
}

.ib-overflow-y-auto {
  overflow-y: auto;
}

.ib-padding-sm {
  padding: 5px;
}

.ib-scroll-y-rtl {
  direction: rtl;
}

.ib-hidden {
  display: none;
}

.ib-width-100 {
  width: 100%;
}

.ib-height-100 {
  height: 100%;
}

.ib-bold {
  font-weight: bold;
}

.ib-italic {
  font-style: italic;
}

.ib-pos-abs {
  position: absolute;
}

.ib-background-white {
  background-color: white;
}

/* Thanks SO! http://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting-using-css */
.ib-noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.ib-fullscreen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.ib-watermark {
  opacity: 0.1
}
/*---------------------------------------------------------------------------*/
/* Layout */
/*---------------------------------------------------------------------------*/


.container-fluid {
  max-width: 400px;
}

@mixin ibmx-container-fluid($screen-size) {
  @media (min-width: $screen-size) {
    .container-fluid {
      max-width: ibfn-size-given-screen($screen-size);
    }
    
    
  }
}

@include ibmx-container-fluid($ib_sm);
@include ibmx-container-fluid($ib_md);
@include ibmx-container-fluid($ib_lg);
@include ibmx-container-fluid($ib_xl);
@include ibmx-container-fluid($ib_xl2);

.ib-nav {
  margin-bottom: 0px !important;
}

#ib-navbar-container {
  margin: 0px;
}

.navbar-btn {
  background-color: $ibgib_green_very_light !important;
}

#ib-navbar-icon-div {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-image: url("/favicon-32x32.png");
  background-repeat: no-repeat;
  background-color: $ibgib_green_very_light;
  // margin: 1px;
  // display: flex;
  // align-items: center;
  // position: relative;
  // left: 0px;
}

.navbar-brand {
  // color: $ibgib_green !important;
  // background-color: $ibgib_green_light !important;
  border-radius: 10px;
  // position: absolute;
  // top: -5px;
  // left: -5px;

  // margin: 0px;
}

#ib-main-header {
  height: 105px !important;
  width: 100% !important;
  margin: 0px !important;
  padding: 0px !important;
}

.ib-flex-centerable {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 50%;
  // width: 200px;
  height: 100px;
  display: inline-block;
  margin-bottom: 0em;
  background-image: url("/images/ibgib_100x200.png");
  background-size: 200px 100px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px !important;
  // padding: 5px;
}

/* Remove the bottom border on the jumbotron for visual effect */
.jumbotron {
  border-bottom: 0;
  background-color: $ibgib_green !important;
}

/*---------------------------------------------------------------------------*/
/* Textish */
/*---------------------------------------------------------------------------*/
.ib-passage {
  // font-size: 18px;
  font-style: italic;
}
.ib-litl-data-notice {
  font-size: 12px;
  font-style: italic;
}
/*---------------------------------------------------------------------------*/
/* Settings Button */
/* Thanks SO and members! http://stackoverflow.com/questions/26632713/show-delete-button-on-right-side-of-bootstrap-row-on-hover */
/*---------------------------------------------------------------------------*/
.ib-hoverable {
  position: relative;
}
.ib-hover-btn {
  position: absolute;
  right: 15px;
  display: none;
  z-index: 10;
}
.ib-hoverable:hover .ib-hover-btn {
  display: block;
}

.ib-mut8-data-btn {
  color: $ibgib_green;
}

.ib-rename-data-btn {
  color: $ibgib_green;
}

.ib-remove-data-btn {
  color: $ibgib_red;
}

.ib-center-glyph {
  vertical-align: middle;
}

/*---------------------------------------------------------------------------*/
/* Tag overrides */
/*---------------------------------------------------------------------------*/

html {
  // To (try to) prevent scrolling
  // overflow-x: hidden;
  // overflow-y: hidden;
  height: 100%;
  width: 100%;
  background-color: $ibgib_app_background_color;
}

body {
  // To (try to) prevent scrolling
  // overflow-x: hidden;
  // overflow-y: hidden;
  // position: relative;

  margin-top: 0px !important;
}

.ib-layout-body {
  background-color: $ibgib_app_background_color !important;
  // padding-top: 70px; // for use with bootstrap navbar fixed top
}

body > .container-fluid {
  padding: 0px 0px 0;
  min-width: 300px;
  height: 100%;
  background-color: $ibgib_app_background_color;
}

nav {
  background-color: $ibgib_app_background_color !important;
}

form {
  margin: 5px !important;
}

input {
  padding-left: 5px;
}

code {
  font-size: 80%;
}

li > p {
  margin-bottom: 5px;
}

ul {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

/*---------------------------------------------------------------------------*/
/* Other */
/*---------------------------------------------------------------------------*/

.ib-container-section {
  background-color: $ibgib_green_very_light;
  border-width: 0.1px;
  border-color: $ibgib_green;
  border-style: solid;
  border-radius: 25px;
  padding: 10px;
  margin: 5px;
}

.container .text-muted {
  margin: 20px 0;
}
#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}


/*---------------------------------------------------------------------------*/
/* Ancestor */
/*---------------------------------------------------------------------------*/
.ib-ancestor-breadcrumb {
  margin: 2px !important;
  overflow-x: auto;
}

/*---------------------------------------------------------------------------*/
/* Past */
/*---------------------------------------------------------------------------*/
.ib-past-breadcrumb {
  margin: 2px !important;
  overflow-x: auto;
}
/*---------------------------------------------------------------------------*/
/* Borders */
/*---------------------------------------------------------------------------*/

// .ib-debug-border {
//   margin: 1px;
//   border-width: 1px;
//   border-style: solid;
//   border-color: black;
// }
//
.ib-info-border {
  margin: 8px;
  border-width: 1px;
  border-color: $ibgib_green;
  border-radius: 10px;
  border-style: solid;
  padding: 5px;
}

/*---------------------------------------------------------------------------*/
/* Horizontal Scrolling List */
/*---------------------------------------------------------------------------*/
.ib-horizontal-scroll-list
{
    overflow-x:auto;
    overflow-y:hidden;
    height:auto;
    width:100%;
    padding: 0 15px;
}

.ib-horizontal-scroll-list-item
{
    // border:1px solid black;
    padding:0;
    height:auto;
}

.list-inline {
  white-space:nowrap;
}


// Marker interface?
.ib-gib-element {

}

.ib-gib-element-active {
  border-color: $ibgib_green;
  // border-color: $ibgib_orange;
  border-width: medium;
}

.ib-youtube-vid {
  padding: 10px;
  width: 100%;
  max-width: 560px;
  height: 315px;
}

#VimFxMarkersContainer .marker {
  font-size: 12px !important; /* Specific font size. */
  text-transform: lowercase !important; /* Lowercase text. */
  opacity: 0.5 !important; /* Semi-transparent. Warning: Might be slow! */
}
