/*---------------------------------------------------------------------------*/
/* Colors */
/*---------------------------------------------------------------------------*/

$ibgib_white: #fff;
$ibgib_green: #76963e;
$ibgib_red: #BF0D49;
$ibgib_pink: #F01ABE;
$ibgib_blue: #1A77F0;
$ibgib_orange: #FA9200;
$ibgib_yellow: #F5F11B;

$ibgib_pink_light: #CF8CCF;


.ib-green {
  color: $ibgib_green;
}
.ib-red {
  color: $ibgib_red;
}
.ib-pink {
  color: $ibgib_pink;
}
.ib-blue {
  color: $ibgib_blue;
}
.ib-orange {
  color: $ibgib_orange;
}
.ib-yellow {
  color: $ibgib_yellow;
}
