/*---------------------------------------------------------------------------*/
/* Colors */
/* Duplicated in d3params.js :-/ */
/*---------------------------------------------------------------------------*/

$ibgib_white: #fff;
$ibgib_green: #76963e;
$ibgib_red: #BF0D49;
$ibgib_red_dark: #85032E;
$ibgib_pink: #F01ABE;
$ibgib_blue: #1A77F0;
$ibgib_orange: #FA9200;
$ibgib_yellow: #F5F11B;

$ibgib_pink_light: #CF8CCF;

$ibgib_green_light: #C3D99A;
$ibgib_green_very_light: #E0F2BF;
$ibgib_green_dark: #01B61B;

.ib-green {
  color: $ibgib_green;
}
.ib-red {
  color: $ibgib_red;
}
.ib-red:hover {
  color: $ibgib_red_dark
}
.ib-pink {
  color: $ibgib_pink;
}
.ib-blue {
  color: $ibgib_blue;
}
.ib-orange {
  color: $ibgib_orange;
}
.ib-yellow {
  color: $ibgib_yellow;
}
