@import 'colors';

.links line {
  stroke: $ibgib_green;
  stroke-width: 1.08px;
  stroke-opacity: 1.5;
}

.nodes circle {
  // stroke: green;
  // stroke-width: 1px;
}

.nodes rect {
  // stroke: green;
  // stroke-width: 1px;
}

#ib-d3-graph-div {
  height: 100%;
  // height: 400px;
  width: 100% !important;
}

#ib-d3-graph-area {
  // height: 100% !important;
  // width: 100% !important;
}

#ibgib-data {
  position: absolute;
}

#ib-d3-graph-menu-div {
  height: 200px;
  width: 200px;
}

#ib-d3-graph-menu-area {
  height: 100%;
  width: 100%;
}

#ib-scape-details {
  // background-color: #CDDEC5;
  background-color: #CDDEC5;
}

.ib-details-on {
  // background-color: #CDDEC5;
  position: relative;
}

.ib-details-off {
  visibility: hidden;
  position: absolute;
}

#ib-help-details-text {
  width: 250px;
}

#comment_form_data_text {
  height: 75px;
  width: 300px;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.ib-details-legend {
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 0px;
    margin: 0px;
    border: none;
    font-size: 16px;
    font-family: fantasy;
    width: auto;
}

.ib-details-fieldset {
  border-width: 0.5px;
  border-style: solid;
  border-color: $ibgib_green;
  padding: 2px;
}

.ib-details-label {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  vertical-align: middle;
  font-size: 14px;
  font-family: fantasy;
}

#query_form_data_search_ib {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  width: 100%;
}

#query_form_data_search_data {
  // margin-left: 10px;
  // margin-right: 25px;
  margin-bottom: 5px;
  width: 100%;
}

#pic_form_data_file {
  // padding: 0px;
}

#download_form_submit_btn {
  margin: 2px;
  padding: 5px;
  background-color: #DBEDD5;
  border-color: gray;
  border-width: 0.5px;
  border-style: solid;
  border-radius: 3px;
}

.download_form_submit_btn_div {
  margin-top: 5px;
  margin-bottom: 2px;
}

.test-graph-div {
  height: 400px;
  width: 100%;
}
