/*---------------------------------------------------------------------------*/
/* Sizes */
/*---------------------------------------------------------------------------*/

$ib_sm:  544px;
$ib_md: 768px;
$ib_lg:  992px;
$ib_xl:  1200px;

@function ibfn-size-given-screen($screen-size) {
  @return floor($screen-size * 0.95);
}
