<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name} 8~/", name: "ibGib" %></h2>
  <p class="lead">ib. Gib. ibGib.</p>

  <%= for item <- test_list do %>
    <!-- <p><%= link(item, to: "/ibgib", method: "get") %></p> -->
    <p>
      <a href="<%= ib_gib_path(@conn, :show, item) %>">
        <%= item %>
      </a>
    </p>

  <% end %>
</div>

<div>
  <%= button("+", to: "/?action=fork&src_ib_gib=ib^gib") %>
</div>
